@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');

#about {
  padding: 6%;
  background-image: url('../img/bg-masthead-m.jpg');
  font-family: 'Raleway', sans-serif !important;
  background-size: cover;
  // width:119rem;
  // height:65rem;
  width: 100%;
  height: 100%;
}

