@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');

#about {
  padding: 3%;
  background-image: url('../img/bg-masthead-m.jpg');
  font-family: 'Raleway', sans-serif !important;
  margin-top: 80px
}

