@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');

* {
  box-sizing: border-box;
}

#builder {
  background-image: url('../img/bg-masthead-2.png');
  background-size: cover;
  width:119rem;
  height:65rem;
  display: flex;
  justify-content: flex-start;

}
.flexbox {
  display: flex;
  justify-content: space-between;

  width: 100%;
  max-width: 768px;
  height: 150vh;
  overflow: hidden;
  margin: 0 auto;
  padding: 15px;
  margin-top: 6%;
}

.flexbox .board {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 300px;
  opacity: 0.5;
  background-color: #e6e4e4;
  padding: 15px;
}

.flexbox .board .card {

  padding: 15px 25px;
  background-color: rgb(153, 153, 229);
  cursor: pointer;
  margin-bottom: 15px;
}

.flexbox .board .card-list {
  background-color: palevioletred;
}

.picc {
  display:flex;
  flex-direction:column;
  padding-top: 5%;
  padding-right: 18%;

  .picture {
    width:600px;
    height:300px;
    border:1px solid #000;
    background-color:#e6e4e4;
    margin-top: 6%;
  }
  .but {
    margin-top: 5%;
    margin-left: 520px;
  }
}

.card-box {
  font-family: 'Raleway', sans-serif !important;
  font-size: 1em !important;
}
