@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');

* {
  box-sizing: border-box;
}

#initial {
  background-image: url('../img/bg-builder-m.png');
  background-size: cover;
  width:100%;
  height:100vh;
  button {
    position: absolute;
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #343434;
    border: none;
    min-width: 12rem;
    min-height: 4rem;
  }
  button:hover {
    opacity: 0.7;
  }
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#transition {

  background-size: cover;
  width:100%;
  height:100vh;

  .changing {
    display: flex;
    flex-direction: column;
    width:100%;
    height:70%;
    align-items: center;
    justify-content: center;
    color:white;
    .rotate {
      animation: rotation 15s infinite linear;
    }
  }



}

#builder {
  background-image: url('../img/bg-masthead-2.png');
  background-size: cover;
  width:100%;
  height:100vh;
  display: flex;
  justify-content: flex-start;
  font-family: 'Raleway', sans-serif !important;
}

.flexbox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  max-width: 768px;
  overflow: hidden;
  margin: 0 auto;
  padding: 15px;
}

.flexbox .board {
  margin-top: 115px;
  margin-left: 5vw;
  display: flex;
  flex-direction: column;
  width:100%;
  height:80vh;
  max-width: 270px;
  background-color: rgba(233, 233, 233, 0);
  padding: 5px;
  overflow-y: auto;
}

.flexbox .board .card {
  border-color: black;
  border-style: thin;
  padding: 15px 25px;
  background-color: white;
  cursor: pointer;
  margin-bottom: 10px;
  text-align: center;
  height: 11em;
  display: flex;
  align-items: center;
}

#board_1 {
  border-style: inset;
  border-width: thin;
}

#board_2 {
  border-style: inset;
  border-width: thin;
}

.flexbox .board .card:hover {
  background-color: rgba(203, 181, 255, 0.2);
}

.flexbox .board .card-list {
  background-color: palevioletred;
}

.picc {
  margin-top: 115px;
  padding-top: 18px;

  .picture {
    width:600px;
    height:400px;
    background-color: rgb(253, 253, 253, 0.5);
    text-align: center;
    h3 {
      font-family: 'Raleway', sans-serif !important;
      padding-top: 2px;
    }
  }


  .description {
    margin-right: 13vw;
    width:600px;
    height:200px;
    background-color: transparent;
    margin-top: 10%;
    font-family: 'Raleway', sans-serif !important;
    text-align: left;
  }

    h4 {
      color: rgb(226, 226, 226);
    }

  .save-sequence {
    display: flex;
    align-items: column;
      .form-inline {
      margin-right: 5px;
      -webkit-transition: width .35s ease-in-out;
      transition: width .35s ease-in-out;
      width: 225px;
    }
    input:focus {
      width: 450px;
      transition: ease-in-out, width .35s ease-in-out;
    }
  }
}

#transition {
  margin-top: 15vh;
  font-family: 'Raleway', sans-serif !important;
}

.card-box {
  font-family: 'Raleway', sans-serif !important;
  font-size: 1em !important;
}

.cardImage {
  width: 50%;
  background-color: #e6e4e4;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
