
// @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');

#login {
  padding: 12%;
  // background-image: url('../img/bg-masthead-m.jpg');
  background-size: cover;
  width:119rem;
  height:56rem;
  font-family: 'Raleway', sans-serif !important;

}

