
// @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');

// #container {
//   padding: 10%;
//   background-image: url('../img/bg-masthead-m.jpg');
//   background-size: cover;
//   width:119rem;
//   height:56rem;
//   font-family: 'Raleway', sans-serif !important;

// }

#video {
  position: fixed;
  z-index: -1;
  width: 100%;
}
#container {
  padding: 8%;
  width:119rem;
  height:56rem;
  font-family: 'Raleway', sans-serif !important;
}
