.voice-detection {
  width: 100%;
  color: white;
}


.seq-nav {
  margin-left: 89vw;
  opacity: 0.6;
}

.seq-nav-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.start {
  height:40px;
  width:105px;
}

.pre {
  margin-bottom: 5px;
  height:40px;
  width:105px;
}
.stop {
  margin-bottom: 5px;
  height:40px;
  width:105px;
}

.next {
  height:40px;
  width:105px;
}
