#sessions-wrapper {
  background-image: url('../img/bg-masthead-m.jpg');
  background-size: cover;
  width: 100vw;
  height:100vh;
  font-family: 'Raleway', sans-serif !important;

}
.yourSessions {
  padding-top: 15vh;
  margin-left: 24vw;
  margin-right: 24vw;
  margin-bottom: 100px;
 }

.sessionList {
  padding-top: 15px;

  background-color: rgb(255, 255, 255, 0.6);
  padding-left: 25px;
  // padding-top: 50px;
  padding-right: 25px;
  // background-size: cover;
  // width:100%;
  // height:100%;


  .usersession {

    color: rgb(114, 112, 112);
    display: flex;
    justify-content: space-between;
  }
}


